
#API URL
FORGOT_MAIL_URL=
APP_API_URL=

## AWS Credentials
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_BUCKET=
AWS_BUCKET_REGION=
AWS_BUCKET_URL=
AWS_REGION

#STORAGE
disk=s3

#EMAIL
MAIL_PROVIDER=ses